__pycache__
.idea
.vscode
data
error
feedback
logs
ahk_eval
venv
config.py
model

test.py
ids.py
test_md.py
test_docs_parser.py
notes.md
cogs/ahk/internal

torch_config.py
*.pth
neural/embeddings
neural/models

docs_service/docs_v1
docs_service/docs_v2
docs_service/docs_v1.zip
docs_service/docs_v2.zip