__pycache__
.idea
.vscode
data
error
feedback
logs
ahk_eval
venv
config.py
model
tensorflow-2.3.1-cp37-cp37m-linux_x86_64.whl

test.py
ids.py
test_md.py
test_docs_parser.py
notes.md
cogs/ahk/internal
