discord.py @ https://github.com/Rapptz/discord.py/archive/45d498c1b76deaf3b394d17ccf56112fa691d160.zip
asyncpg==0.21.0
aiohttp==3.7.4
fuzzywuzzy==0.18.0
parsedatetime==2.5
python-Levenshtein==0.12.0
lxml==4.6.5
beautifulsoup4==4.8.2
tabulate==0.8.6
emoji==0.5.4
pygit2==1.2.1
psutil==5.7.0
unidecode==1.1.1
colorama==0.4.4
coloredlogs==15.0.1
